<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="c:\temp\cig-etl-evergage.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${mdlc:item=CorrelationId}|${all-event-properties}"
            openFileCacheTimeout = "30"
            archiveEvery="Day"
            archiveNumbering ="Date"/>
    <target xsi:type="Console" name="console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${mdlc:item=CorrelationId}|${all-event-properties}" />
    <target name="database"
            xsi:type="Database">
      <connectionstring>Data Source=.;Initial Catalog=CustomerIntelligence;Integrated Security=True</connectionstring>
      <commandText>
        INSERT INTO config.etllog
        ([date],
        [componentname],
        [level],
        [logger],
        [thread],
        [message],
        [exception],
        [jobname],
        [correlationid])
        VALUES (@log_date,
        @component_name,
        @log_level,
        @logger,
        @thread,
        @message,
        @exception,
        @job_name,
        @correlation_id);
      </commandText>

      <parameter name="@log_date" layout="${date}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@thread" layout="${threadid}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@component_name" layout="CIG_ETL_EVERGAGE"/>
      <parameter name="@job_name" layout="${event-properties:item=JobName}"/>
      <parameter name="@correlation_id" layout="${mdlc:item=CorrelationId}"/>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console,database" />
  </rules>
</nlog>